<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.meilituibian.api.mapper.InformationMapper">
    <select id="getInformationById" parameterType="long" resultType="Information">
        select id,title, content from information where id=#{id} and status=1
    </select>

    <select id="getInformations" resultType="Information">
        select id,title, content from information where status=1 order by 'range' desc
    </select>

</mapper>