<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.meilituibian.api.mapper.ProductTypeMapper">
    <select id="list" resultType="ProductType">
        select id, cat, name, status,icon from product_type where status=1
    </select>

    <select id="findProductTypeById"  resultType="ProductType">
        select id,cat, name,status,icon from product_type where status=1 and id=#{id}
    </select>

</mapper>


