<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.meilituibian.api.mapper.ProductTypeMapper">
    <select id="list" resultType="ProductType">
        select id, cat, name, status,icon from product_type where status=1
    </select>

    <select id="findProductTypeById"  resultMap="productMap">
        select id,cat, name,status,icon from product_type where status=1 and id=#{id}
    </select>

    <resultMap id="productMap" type="ProductType">
        <id column="id" property="id"/>
        <result column="cat" property="cat"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="status" property="status"/>
        <collection property="productList" column="id" select="cn.meilituibian.api.mapper.ProductMapper.getProductsByType" ofType="cn.meilituibian.api.domain.Product"/>
    </resultMap>

</mapper>


